# --- Environment Variables ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

!dist.env
!.env.example
!.env.template

# Dependencies
node_modules/
bower_components/
jspm_packages/